body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #0f0f0f, #292525);
  font-family: monospace, monospace;
  font-weight: 300;
}
.clock {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 280px;
  height: 100px;
}
.block {
  height: 20%;
  width: calc(100% / 12);
  flex-direction: row;
  color: lighten(#333, 8%);
}
.block:nth-child(15n + 15) {
  margin-right: 10px;
}
.divider {
  position: absolute;
  width: 2px;
  background-color: whitesmoke;
  height: 15%;
  top: 44%;
  left: calc(50% + 28px);
}
.active {
  color: white;
}
.active-orange {
  color: rgb(100, 51, 63);
}
